* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primaryColor: #0e6253;
    --secondrayColor: #ffc107;
    --whiteColor: #fff;
    --blackColor: #222;
    --softGreenColor: #dcf1ee;
    --darkGreyColor: #a7a7a7;
    --greyColor: #f5f5f5;
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--softGreenColor);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 350px;
}
.login-container:hover
{
    box-shadow: rgba(2, 2, 2, 0.2) 0px 8px 24px;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: -37px;
    color: var(--primaryColor);
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color:var(--primaryColor);
    color: white;
    border: none;
    border-radius: 21px;
    cursor: pointer;
    margin-top: 22px;
}

button:hover {
    
    background-color: black;
    color: white;
}

.error {
    color: red;
    text-align: center;
    margin-top: 10px;
}
.logo-img
{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    top: 30px;
    left: auto;
}
